
@page
@using LSS.Infrastructure.Utility;
@{
    Layout = "_IndexLayout";
}
@model List<LibraryToShow>


<div class="container" style="opacity: 0.6;">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short_ls">
                <li>
                    <a href="index.html">首页</a>
                    <span>| |</span>
                </li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-success leftSidebar" id="leftSidebar">
                <div class="panel-heading">
                    <h3 class="panel-title">快捷菜单</h3>
                </div>
                <div class="panel-body">
                    <a id="" href="" class="list-group-item">返回首页</a>
                    <a id="" href="" class="list-group-item">查看学生信息</a>
                    <a id="" href="" class="list-group-item">密码修改</a>
                    <a id="" href="" class="list-group-item">查询预订信息</a>
                    <a id="" href="" class="list-group-item">查询座位</a>
                    <a id="top" href="" class="list-group-item">回到顶部</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container" id="studentInformation">
                <div class="page-header" style="margin-top: 15px;">
                    <h1><small>修改图书馆楼层</small></h1>
                </div>
                <div class="libraryList" data-example-id="hoverable-table">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>图书馆名</th>
                                <th>起始楼层</th>
                                <th>结束楼层</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <th>@(i+1)</th>
                                    <td>@Model[i].libraryName</td>
                                    <td>@Model[i].startFloor 楼</td>
                                    <td>@Model[i].endFloor 楼</td>
                                    <td>
                                        <button class="modify btn btn-success btn-sm"
                                                onclick="modifyBtn(@(i+1),this)">
                                            修改
                                        </button>
                                        <button class="delete btn btn-danger btn-sm"
                                                onclick="deleteBtn(@(i+1),this)">
                                            删除
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modifyModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="input-group">
                        <input type="number" class="form-control" id="modifyStartFloor">
                        <span class="input-group-addon" id="floorAddon">楼</span>
                    </div>
                    <div class="input-group">
                        <input type="number" class="form-control" id="modifyEndFloor">
                        <span class="input-group-addon" id="floorAddon">楼</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="floorModifyButton">确定</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p>确认删除图书馆</p><span id="deleteLibraryName"></span><span>吗？</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger">确认删除</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/numscroller-1.0.js"></script>
<script src="~/js/jquery.flexisel.js"></script>
<script src="~/js/SmoothScroll.min.js"></script>
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>
<script src="~/js/checkStudentOrder.js"></script>
<script>
    var libraryName;
    var startFloor;
    var endFloor;

    function modifyBtn(id, obj) { //设置模态框中的数字   还需完成读输入框中数字格式的验证
        libraryName = $(obj).parent().parent("tr").children('td').eq(0).html();
        startFloor = parseInt($(obj).parent().parent("tr").children('td').eq(1).html());
        endFloor = parseInt($(obj).parent().parent("tr").children('td').eq(2).html());
        $("#modifyModalTitle").text(libraryName);
        $("#modifyStartFloor").attr({
            "value": startFloor
        });
        $("#modifyEndFloor").val(endFloor);
        $("#ModifyModal").modal("show");
        //将数据发送给后端，后端完成修改后返回数据

        //提示修改后状态
    }
    $("#floorModifyButton").click(function () {
        sendData();
    });



    function sendData() {
        $.ajax({
            type: 'post',
            url: '/Administrator/AddFloor',
            data: { "libraryname": libraryName, "startfloor": startFloor, "endfloor": endFloor },
            success: function (data) {
                alert(data);
            },
            error: function (data) {
                alert("修改失败");
            }
        });
    }


    function deleteBtn(id, obj) {
        libraryName = $(obj).parent().parent("tr").children('td').eq(0).html();
        var str = "删除图书馆" + libraryName;
        $("#deleteModalTitle").text(str);
        $("#deleteLibraryName").text(libraryName);
        $("#deleteModal").modal("show");

        //传输id到后端，并输出后端返回的数据
    }
</script>
